<footer class="bg-footer text-white mt-4 pl-4">
  <div class="container-fluid">
    <div class="row text-light py-4">
      <div class="col-lg-2 col-sm-6">
        <img src="../../assets/images/logo.svg" alt="" class="img-fluid">
        <br>
        <div class="pt-4">
          <img src="../../assets/images/icon-location.svg" alt="" class="float-left footer-location-img">
          <p class="small footer-location-p pl-2">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
      </div>

      <div class="col-lg-2 col-sm-6 ">
        <div class="pt-sm-4 pt-0 footer-info">
          <img src="../../assets/images/icon-phone.svg" alt="" class="float-left footer-location-img">
          <p class="small footer-location-p pl-3"> +1 543 123 4567</p>
        </div>

        <div class="">
          <img src="../../assets/images/icon-email.svg" alt="" class="float-left footer-location-img">
          <p class="small footer-location-p pl-3"> example@gmail.com</p>
        </div>
      </div>

      <div class="col-lg-2 col-sm-6">
        <ul class="list-unstyled pt-sm-4 pt-0 ul-list-style">
          <li class="pt-1">
            <a href="#" class="footer-link">About Us</a>
          </li>
          <li class="pt-1">
            <a href="#" class="footer-link">FAQ</a>
          </li>
          <li class="pt-1">
            <a href="#" class="footer-link">What We Do</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-2 col-sm-6">
        <ul class="list-unstyled pt-sm-4 pt-0 ul-list-style">
          <li class="pt-1">
            <a href="" class="footer-link">Career</a>
          </li>
          <li class="pt-1">
            <a href="" class="footer-link">Blog</a>
          </li>
          <li class="pt-1">
            <a href="" class="footer-link">Contact Us</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-4 col-sm-6">
        <ul class="list-inline text-center text-sm-left pt-sm-4 pt-0 ul-list-style">
          <li class="list-inline-item">
            <a href="http://www.facebook.com" class="icon facebook icon-href">
              <span>Facebook</span></a>
            <a href="http://www.twitter.com" class="icon twitter icon-href ">
              <span>Twitter</span></a>
            <a href="http://www.github.com" class="icon instagram  icon-href">
              <span>Instagram</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</footer>
