<div class="container-fluid testimonals">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-3 pb-sm-0 pb-3 mr-0 mr-sm-3 card-xs-pl card-m-media">
      <div class="card card-format">
        <div class="card-body">
          <img src="../../assets/images/bg-quotes.png" alt="" class="card-bg-img">
          Fylo has improved our team productivity by an order of magnitude. Since making the switch our team has become
          a well-oiled collaboration machine.
          <br>
          <img src="../../assets/images/profile-1.jpg" alt="" class="rounded-circle img-pt float-left align-self-center"
            width="50">
          <p class="small mx-auto p-pl p-pt">Satish Pael <br>
            <span>Founder & CEO, Huddle</span>
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-3 pb-sm-0 pb-3 mr-0 mr-sm-3 card-xs-pl card-m-media">
      <div class="card card-format">
        <div class="card-body">
          Fylo has improved our team productivity by an order of magnitude. Since making the switch our team has become
          a well-oiled collaboration machine.
          <br>
          <img src="../../assets/images/profile-2.jpg" alt="" class="rounded-circle img-pt float-left align-self-center"
            width="50">
          <p class="small mx-auto p-pl p-pt">Satish Pael <br>
            <span>Founder & CEO, Huddle</span>
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-3 pb-sm-0 pb-3 mr-0 mr-sm-3 card-xs-pl card-m-media">
      <div class="card card-format">
        <div class="card-body">
          Fylo has improved our team productivity by an order of magnitude. Since making the switch our team has become
          a well-oiled collaboration machine.
          <br>
          <img src="../../assets/images/profile-3.jpg" alt="" class="rounded-circle img-pt float-left align-self-center"
            width="50">
          <p class="small mx-auto p-pl p-pt">Satish Pael <br>
            <span>Founder & CEO, Huddle</span>
          </p>
        </div>
      </div>
    </div>

    <div class="row pt-4 align-row">
      <div class="col-12 position-card">
        <div class="card w-55 mx-auto mt-card p-card d-flex bg-card card-rounded">
          <div class="card-body ">
            <h4 class="card-h text-center">Get Early Access Today</h4>
            <p class="small text-white text-center">It only takes a minute to sign up and our free starter tier is
              extremely generous. If you
              have any questions, our support team would be happy to help you.</p>
            <form action="" class="form-inline justify-content-center">
              <input type="email" class="form-control input-rounded input-format mb-4 mb-sm-0"
                placeholder="name@example.com">
              <button type="submit" class="btn font-weight-bold btn-round-lg text-white btn-getStarted-custom" id="">Get
                Started
                for
                Free</button>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
