<div class="about container-fluid">
  <div class="row pt-4 first-row">
    <div class="col-sm-3 offset-sm-2 offset-0 col-12 pb-sm-0 pb-5 text-center about-cards">
      <img src="../../assets/images/icon-access-anywhere.svg" alt="" class="img-fluid">
      <h5 class="about-h">Access your files, anywhere</h5>
      <p class="about-p">The ability to use a smartphone, tablet or computer to access your account means your files
        follow you
        everywhere. </p>
    </div>
    <div class="col-sm-3 offset-sm-2 offset-0 col-12 pb-sm-0 pb-5 text-center about-cards">
      <img src="../../assets/images/icon-security.svg" alt="" class="img-fluid">
      <h5 class="about-h">Security you can trust</h5>
      <p class="about-p">2-factor authentcation and user-controlled encryption are just a couple of the security
        features we allow to
        help secure your files. </p>
    </div>
  </div>
  <div class="row pt-sm-5 pt-0 second-row">
    <div class="col-sm-3 offset-sm-2 offset-0 col-12 pb-sm-0 pb-5 text-center about-cards">
      <img src="../../assets/images/icon-collaboration.svg" alt="" class="img-fluid">
      <h5 class="about-h">Real-time collaboration</h5>
      <p class="about-p">Securely share files and folders with friends, family and colleagues for live collaboration. No
        email
        attachments required. </p>
    </div>
    <div class="col-sm-3 offset-sm-2 offset-0 col-12 pb-sm-0 pb-5 text-center about-cards">
      <img src="../../assets/images/icon-any-file.svg" alt="" class="img-fluid">
      <h5 class="about-h">Store any type of file</h5>
      <p class="about-p">Whether you're sharing holiday photos or work documents. Fylo has you covered allowing for all
        file types to be
        securely stored and shared. </p>
    </div>
  </div>

  <div class="row align-items-center d-flex space-row">
    <div class="col-12 col-sm-4 ml-sm-5 ml-0 order-sm-2 order-2">
      <h3 class="about-h text-center text-sm-left pb-sm-0 pb-3" id="about-h3">Stay productive,<br class="show-newline">
        wherever you
        are</h3>
      <p class="text-left about-p">Never let location be an issue when accessing your files. Fylo has you covered for
        all of your file storage needs. </p>
      <p class="text-left about-p">Securely share files and folders with friends, family and colleagues for
        collaboration. No email attachments required.</p>
      <a href="" class="link-about">See how Fylo works
        <img src="../../assets/images/icon-arrow.svg" alt="" class="arrow-animation">
      </a>
    </div>
    <div class="col-12 col-sm-4 offset-sm-2 order-sm-1 order-1">
      <img src="../../assets/images/illustration-stay-productive.png" alt="" class="img-fluid">
    </div>
  </div>
</div>
