<header class="header pt-3 pb-3">
  <nav class="navbar navbar-expand text-white">
    <a class="navbar-brand header-logo" href="#">
      <img src="../../assets/images/logo.svg" alt="" class="img-fluid" id="img-fluid-logo">
    </a>
    <ul class="navbar-nav navbar-collapse justify-content-end">
      <li class="nav-item">
        <a class="nav-link">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Team</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Sign In</a>
      </li>
    </ul>
  </nav>

  <div class="row h-100 banner-section pt-2 pt-sm-0 text-white">
    <div class="offset-sm-3"></div>
    <div class="col-sm-6 col-12 my-auto text-center">
      <img src="../../assets/images/illustration-intro.png" alt="" class="img-fluid">
      <h3 class=" text-center">All your files in one secure location accessible anywhere.</h3>
      <p class=" text-center">Fylo stores all your most important files in one secure location. Access them whenever you
        need, share and collaborate with friends, family and co-workers.</p>
      <div class="text-center">
        <button>Get
          Started
          <span></span><span></span><span></span>
        </button>
      </div>
    </div>
    <div class="offset-sm-3"></div>

  </div>
</header>
